# dependencies
/node_modules/

# testing
/.nyc_output/
/coverage/
/cypress/screenshots/
/cypress/videos/

# next.js
/.next/

# misc
.DS_Store
*.pem

# debug
.pnpm-debug.log*

# env files
.env

# vercel
.vercel

# typescript
*.tsbuildinfo

# credentials
/google-credentials.json
